* {
    font-family: 'JetBrains Mono';
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
.option {
    display: flex;
    padding: 10px;
}
  
.option input[type="checkbox"],
.option input[type="radio"] {
    margin-right: 10px; 
}

.btn {
    background-color: rgb(248, 181, 75);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.25s;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.btn:hover {
    background-color: rgb(255, 233, 39);
}

#primeResponse {
    font-size: 2em;
}

#payResponse {
    font-size: 2em;
}